:root {
  --main-font: "Libre Franklin", sans-serif;
  --secondary-font: "Source Serif 4", serif;
  --additional-font: "Tenor Sans", sans-serif;
  --main-color-text: #000000;
  --gray-color: #e6e6e6;
  --subtitle-color: #999999;
  --desc-color: #666666;
  --white-color: #ffffff;
  --footer-line-color: #4d4d4d;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: var(--main-font);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--gray-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
}

.header-logo {
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 40px;
}

.header-nav-link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color-text);
  padding-top: 33px;
  padding-bottom: 33px;
}

/* .header-nav-list .header-nav-item > .header-nav-link {
}
 .header-nav-list .header-nav-item - .header-nav-item 
 нащадок, вкладений в .header-nav-list не важливо
 на якому місці

 .header-nav-item > .header-nav-link - .header-nav-link є 
 дитиною .header-nav-item
*/

.hero {
  padding-top: 60px;
}
.container {
}
.hero-conatainer {
  display: flex;
}
.hero-img {
  margin-right: 50px;
}
.hero-subtitle {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-bottom: 18px;
}
.hero-title {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--main-color-text);
  margin-bottom: 27px;
}
.hero-desc {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--desc-color);
  margin-bottom: 28px;
}
.hero-text {
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main-color-text);
}

/* .hero-title + .hero-desc {} 
селектор сусіда
*/

/* .hero.no-image {
  background-image: none;
} 
звертаємось до елемента у якого одночасно є 
класи .hero і .no-image

section.about {}
*/

.about {
  padding-top: 60px;
}
.container {
}
.about-container {
  padding-bottom: 65px;
  border-bottom: 1px solid var(--gray-color);
}
.visually-hidden {
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}
.about-list-item {
  width: calc((100% - 19px * 2) / 3);
}
.about-img {
  /* margin-bottom: 20px; */
}

.about-wrapper {
  padding-top: 20px;
  padding-bottom: 25px;
}

.about-subtitle {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-bottom: 18px;
}
.about-title {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--main-color-text);
  margin-bottom: 15px;
}
.about-text {
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main-color-text);
}

/* POSTS SECTION */

.posts {
  padding-top: 65px;
  /* padding-bottom: 90px; */
}

.posts-title {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-bottom: 30px;
}

.posts-container {
  padding-bottom: 90px;
  border-bottom: 1px solid var(--gray-color);
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.posts-list-item {
  width: calc((100% - 20px * 3) / 4);
}
.posts-img {
}

.posts-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
}

.posts-subtitle {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-bottom: 18px;
}
.posts-item-title {
  font-family: var(--additional-font);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.26;
  text-transform: uppercase;
  color: var(--main-color-text);
  margin-bottom: 15px;
}
.posts-text {
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main-color-text);
}

.posts-btn {
  display: block;
  width: 205px;
  height: 54px;
  font-family: inherit;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main-color-text);
  background: var(--white-color);
  border: 1px solid var(--main-color-text);
  border-radius: 0px;
  margin: 0 auto;
  margin-top: 65px;
}

/* FEATURED SECTION */

.featured {
  margin-top: 90px;
  /* margin-bottom: 90px; */
}

.featured-container {
  padding-bottom: 90px;
  border-bottom: 1px solid var(--gray-color);
}

.featured-title {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-bottom: 30px;
}

.featured-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.featured-list-item {
  width: calc((100% - 20px) / 2);
}

.featured-img {
}

.featured-wrapper {
  margin-top: 20px;
  margin-bottom: 25px;
}

.featured-subtitle {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--subtitle-color);
  margin-bottom: 18px;
}

.featured-item-title {
  font-family: var(--additional-font);
  font-size: 19px;
  line-height: 1.26;
  text-transform: uppercase;
  color: var(--main-color-text);
  margin-bottom: 16px;
}

.featured-text {
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main-color-text);
}

/* FOOTER */

.footer {
  background-color: rgba(20, 20, 20, 1);
}

.footer-container {
  padding-top: 93px;
  padding-bottom: 95px;
}

.footer-logo {
  fill: #ffffff;
}

.footer-copyright {
  display: flex;
  gap: 15px;
  padding-bottom: 62px;
  border-bottom: 1px solid var(--footer-line-color);
  align-items: flex-end;
}

.footer-copyright-text {
  color: var(--desc-color);
  font-size: 10px;
  font-family: Libre Franklin;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-cat {
  color: var(--desc-color);
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-link {
  color: var(--white-color);
  font-size: 14px;
  font-family: Libre Franklin;
}

.footer-input {
  width: 221px;
  height: 48px;
  border: 1px solid #ccc;
  background: #fff;
  padding-left: 24px;
}

.footer-input::placeholder {
  color: var(--desc-color);
  font-size: 10px;
  line-height: calc(12 / 10);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-form-btn {
  width: 79px;
  height: 48px;
  color: var(--white-color);
  font-size: 10px;
  font-family: Libre Franklin;
  line-height: calc(12 / 10);
  letter-spacing: 1px;
  text-transform: uppercase;
  background: var(--main-color-text);
  border: none;
  cursor: pointer;
}

.footer-top-lists {
  display: flex;
  margin-bottom: 70px;
}

.footer-top-lists ul {
  width: 225px;
}

.footer-wrapper {
  display: flex;
  padding-top: 60px;
}

.footer-form .footer-cat {
  display: block;
}

.footer-top-lists li:not(:first-child) {
  margin-top: 15px;
}

.footer-bottom-lists {
  display: flex;
}

.footer-bottom-item {
  width: 225px;
}

.footer-bottom-lists li:not(:first-child) {
  margin-top: 10px;
}
